{% if total_product > 0 %}
	{% for product in products %}
	 	
	<div class="product-thumb insp-cat col-sm-6 col-xs-12">
	 	<div class="searchbr">
	        <div class="product-info col-lg-4 col-sm-4 col-xs-5 image">
	        	<a href="{{ product.href }}">
	        		<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
	        	</a>
	       	</div>
	       	<div class="insp-dis col-lg-8 col-sm-8 col-xs-7 text-left">
	       		<h4 class="acpage"><a href="{{ product.href }}">{{ product.name }}</a></h4>
	       		<p class="list-des">{{ product.description }}</p>


				       {% if product.price %}
				       
				         <!-- <p class="discription">{{ product.description }}</p> -->
				        <div class="price">
				          {% if not product.special %}
				          {{ product.price }}
				          {% else %}
				          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
				          {% endif %}
				         {#  {% if product.tax %}
				          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
				          {% endif %} #}
				        </div>
				        {% endif %}
				        </div>



	       	</div>
	    </div>
	</div>
	{% endfor %}
{% else %}
	<div><p>There is no product that matches the search criteria.</p></div>
{% endif %}