

<div class="leftpro leftpadd">
<h2 class="left-heading">{{ bestpro_title }}</h2>
{% set temp = 0 %}
{% set setCol = 5 %}
<div class="pro-nepr">
  <div id="bestpro" class="owl-theme owl-carousel">
 {% for product in products %}
  {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image col-xs-4"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- insp Images Start -->
                 {% set t = 0 %}
                  {% for more_image in product.more_images %}
                  {% for pop in more_image %}
                  {% if t == 0 %}
                    <a href="{{ product.href }}"><img src="{{ pop.popup_more }}" class="img-responsive second-img" alt="hover image"/></a>
                  {% set t = t + 1 %}
                    {% endif %}

                  {% endfor %}
                  {% endfor %}

          <!-- End -->
        {# {% if product.price %}
          {% if product.special %}
              <span class="salepro">sale</span>
          {% endif %}
      {% endif %} #}
      </div>
      <div class="caption text-left col-xs-8">
        {# <p>{{ product.description }}</p> #}
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {# {% if product.tag_per  %}
          <p class="sale-tag {{ random(['hot','new','sale']) }}">Save {{ product.tag_per }}%</p>
          {% endif %} #}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </p>
        {% endif %}
         
        {# <button type="button" onclick="cart.add('{{ product.product_id }}');" class="acart"> 
          <span class="hidden-xs">+{{ button_cart }}</span>
        </button> #}
      </div>
    </div>
  </div>
  <!-- writ code Here End -->
 {% if temp % setCol == 0 %}
            </div>
        {% endif %}
  {% endfor %} 


   {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}
</div>
</div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
    $("#bestpro").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [768, 1]
    ],
      autoPlay: 6000,
      loop: true,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:true
    });
    });
</script>