<div class="tab-pane" id="bestp">
{# <h3 class="left-heading">{{ heading_title }}</h3> #}
<div class="row thummargin">
{% set temp = 0 %}
{% set setCol = 2 %}
  <div id="best" class="owl-theme owl-carousel">
  {% for product in products %}
{% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
  <div class="product-layout col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
       
                        {% set t = 0 %}
                          {% for insp_image in product.insp_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ insp_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        
      </div>
       <div class="caption text-center">

        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
       {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {# {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} #} </p>
        {% endif %} 
         {% if product.tag_per  %}
          <p class="sale-tag {{ random(['hot','new','sale']) }}">Save {{ product.tag_per }}%</p>
          {% endif %}
        <div class="button-group">
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#addwish"></use></svg></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#addcompare"></use></svg></button>
          <div class="bquickv" data-toggle="tooltip" title="{{ button_quickview }}"></div>
        </div>
         <!-- quantity option -->
              <div class="input-group col-xs-12 col-sm-12 qop">
              <label class="control-label qlable" for="input-quantity">{{ entry_qty }} Qty </label>
              <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_{{ product.product_id }}" class="form-control col-sm-2 col-xs-9 qtyq" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />

              <button type="button" class="acart" data-loading-text="{{ text_loading }}" onclick="var xqty='fqty_{{ product.product_id }}';
              var aqty = parseInt(document.getElementById(xqty).value);
              console.log(aqty);
              if(aqty <=0){
              alert('Invalid quantity');
              }
              else{
              cart.add({{ product.product_id }},aqty);  
              }" class="btn btn-primary btn-lg btn-block"><svg width="18px" height="18px" class=""><use xlink:href="#pcart"></use></svg>{# <span class="hidden-xs">{{ button_cart }}</span> #}
             </button>
             </div>
    <!-- quantity option End -->
      {# <button class="acart" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">{{ button_cart }}</span></button> #}
    </div>
    </div>
  </div>
  {% if temp % setCol == 0 %}
            </div>
        {% endif %}
  {% endfor %} 


   {% if products|length % setCol != 0 %}
        </div>
    {% endif %}
  </div>
</div>
</div>









<script type="text/javascript">
    $(document).ready(function() {
    $("#best").owlCarousel({
    itemsCustom : [
    [0, 2],
    [375, 2],
    [600, 3],
    [768, 4],
    [992, 4],
    [1200, 5],
    [1410, 6]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>
